.card {
    padding: 1rem !important;
    width: 20rem !important;
}

.instructor-item a {
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    background: #292929;
}

.instructor-item a:hover,
.instructor-item a:active {
    background: #ffd900;
}

.instructor-item {
    margin: 10px;
}